<div class="dialog-form">
  <mat-form-field appearance="outline">
    <mat-label>Titolo</mat-label>
    <input matInput placeholder="Inserisci titolo" [(ngModel)]="titolo" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Descrizione</mat-label>
    <input
      matInput
      placeholder="Inserisci descrizione"
      [(ngModel)]="descrizione"
    />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Orario inizio</mat-label>
    <input
      matInput
      placeholder="Inserisci orario inizio"
      [(ngModel)]="orario_inizio"
    />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Orario fine</mat-label>
    <input
      matInput
      placeholder="Inserisci orario fine"
      [(ngModel)]="orario_fine"
    />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="aggiungi()">
    Aggiungi
  </button>
</div>
