.header {
  width: 100%;
  height: 10vh;
  position: fixed;
  background: url(https://static.vecteezy.com/system/resources/previews/025/771/154/non_2x/illustration-film-cinema-strip-backgrounds-with-stars-and-camera-reel-for-presentations-and-decks-ads-marketing-materials-digital-interfaces-banner-header-advertising-abstract-wallpapers-vector.jpg);
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
